python-dotenv
Flask
flask-cors
pydub
openmeteo-requests
requests-cache
retry-requests
numpy
pandas
selenium
audioop-lts
beautifulsoup4
requests
werkzeug
soupsieve
langchain
langchain_community
regex
fastapi
uvicorn
pydantic
geocoder
google-cloud-speech
